---
title: Ромода
---

{{< blocks/cover title="Ансамбль русской традиционной музыки" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/about" >}}">
		О нас <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://vk.com/folkcentre">
		ВКонтакте <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">Подробности</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}

{{% blocks/lead color="primary" %}}
Интересности всякие

#<a href="https://www.netlify.com" target="_blank" rel="noopener">
#  <img src="https://www.netlify.com/img/global/badges/netlify-color-accent.svg" alt="Ансамбль Ромода" />
#</a>
{{% /blocks/lead %}}

{{< blocks/section color="dark" type="features">}}
{{% blocks/feature icon="fa-lightbulb" title=""Экспедиции"" url="/docs/examples/" %}}
Истории в экспедициях
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Как мы поём и играем" url="https://vk.com/folkcentre" %}}
Ансамбль Ромода [ВКонтакте](https://vk.com/folkcentre) - фото, аудио, афиши
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="YouTube Канал" url="https://youtube.com/@romodafolk" %}}
Здесь много интересного видео
{{% /blocks/feature %}}

{{< /blocks/section >}}
